<div class="search-container">
    <form #form="ngForm" class="search-form" (ngSubmit)="onSubmit(form)">
        <span class="logo" routerLink="/">GamerSift</span>
        <input
        class="search-input"
        name="search"
        ngModel
        placeholder="Search games"
        >
        <button class="search-button" >Search</button>
    </form>

</div>
<div  colorchange class="try">
    
        <input class="color-blue" type="text" name="" id="">
        <input class="color-red" type="text">
        <input class="color-green">
    
</div>

